<template>
    <ul id="menu">
        <li class="profile-pic">
            <img src="" alt="">
        </li>
        <li class="menu-item">
            <router-link to="/">
                <i class="fas fa-user"></i>
                My Wall
            </router-link>
        </li>
        <li class="menu-item">
            <router-link to="/my-friends">
                <i class="fas fa-users"></i>
                My Friends
            </router-link>
        </li>
        <li class="menu-item">
            <router-link to="/find-friends">
                <i class="fas fa-search"></i>
                Find Friends
            </router-link>
        </li>
        <li class="menu-item">
            <a class="dropdown-item"
                href="/logout"
                onclick="event.preventDefault();
                        document.getElementById('logout-form').submit();">
                <i class="fas fa-sign-out-alt"></i>
                Log Out
            </a>
        </li>
    </ul>
</template>

<script>
    export default {
        mounted() {
            console.log('Menu component mounted.')
        }
    }
</script>

<style>
    #menu {
        display: flex;

        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;

        height: 60px;

    }

    .menu-item {
        text-align: center;
        list-style: none;

        display: flex;
        
        flex-basis: 25%;
        flex-grow: 1;

        align-items: center;
        justify-content: center;

        background-color: #4A90E2;

        color: #fff;
        font-size: .8rem;

        border-left: 2px solid #5B9AE5;
        
    }

    .menu-item:hover,
    .menu-item:active {
        background-color: #5B9AE5;
    }

    .menu-item a {
        color: #fff;
        text-decoration: none;
    }

    .menu-item a i {
        display: block;
        margin-bottom: 5px;
        font-size: 1.05rem;
    }

    .profile-pic {
        display: none;
        height: 120px;
        width: 120px;
        background: #fff;
        border-radius: 200px;
        border: 5px solid #f8f8f8;
    }

    @media (min-width: 680px) {
        #menu {
            display: block;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            width: 250px;
            height: unset;


        }

        .menu-item {
            display: block;

            text-align: left;

            background-color: #fff;

            color: #000;
            font-size: .8rem;
            font-weight: 300;
            letter-spacing: 1px;

            border-left: 0px solid #fff;

            margin-top: 7px;
            padding: 0;

            border-radius: 0 3px 3px 0;

        }

        .menu-item:hover,
        .menu-item:active {
            background-color: #5B9AE5;
        }

        .menu-item a {
            color: #000;
            padding: 15px 15px;
            width: 100%;
            display: inline-block;
        }

        .menu-item:hover a {
            color: #fff;
        }

        .menu-item a i {
            display: inline;
            margin-right: 10px;
        }


        .profile-pic {
            display: block;
            
            margin: 15px 0 25px 15px;

        }
    }
</style>
