<template>
    <div>
        <textarea :placeholder="exampleText" wrap="soft" v-model="post"></textarea>
        <button class="btn-primary" @click="createPost" :disabled="post.length == 0"><i class="fas fa-edit"></i> Post to my wall</button>
    </div>
</template>

<script>
    export default {
        props: ['exampleText'],
        mounted() {
            console.log('New post component mounted.')
            console.log(this.post);
        },
        data: function() {
            return {
                post: ''
            }
        },
        methods: {
            createPost: function() {
                let self = this;
                let data = {
                    content : this.post
                }
                axios.post('/post', data)
                .then(function (response) {
                    self.post = '';
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        }
    }
</script>

<style scoped>
    textarea {
        width: 100%;
        min-height: 80px;
        height: 100%;

        border-radius: 0;

        padding: 12px 15px;
        margin: 0;
        
        word-wrap: break-word;
        word-break: break-all;

        resize: none;
        overflow: hidden;
    }
    button {
        min-width: 100%;
    }

    @media (min-width: 680px) {
        textarea {
            border-radius: 3px;
        }
    }
</style>
