<template>
    <div class="post">
        <div class="post">
            <p>Profile pic</p>
            <p>User name</p>
            <p>Date</p>
            <p>The post</p>
            <div class="comment">
                <p>profile pic</p>
                <p>user name</p>
                <p>date</p>
                <p>the comment</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Post component mounted.')
        }
    }
</script>

<style scoped>
</style>
