@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Raleway", sans-serif;
  background-color: #F8F8F8;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  min-width: 320px;
}

@media (min-width: 680px) {
  #app {
    min-height: 100vh;
    padding-left: 270px;
  }

  #app .page {
    padding-top: 100px;
    width: 94%;
    max-width: 480px;
  }
}

@media (min-width: 680px) {
  .background-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: #4A90E2;
  }
}

input,
textarea {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button,
input[type="submit"],
input[type="reset"] {
  padding: 15px 25px;
  background-color: #F8F8F8;
}

button.btn-primary,
input[type="submit"].btn-primary,
input[type="reset"].btn-primary {
  background-color: #4A90E2;
  color: #fff;
}

