<template>
    <div class="page">
        <h1>Find Friends</h1>  
        <p>search bar</p>      
        <div class="results">
            <p>profile pic</p>
            <p>name</p>
            <p>follow/unfollow button</p>
        </div>
    </div>
    
</template>

<script>
    export default {
        mounted() {
            console.log('Find friends view mounted.')
        }
    }
</script>

<style>
    
</style>
