<template>
    <div class="page">
        <h1>My friends</h1>
        <div class="friend">
            <p>profile pic</p>
            <p>name</p>
            <p>follow/unfollow button</p>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Friends view mounted.')
        }
    }
</script>

<style>
    
</style>
