<template>
    <div class="page">
        <NewPost :exampleText="'What\'s on your mind...'"></NewPost>
        <Post v-for="post in posts" :key="post.id"></Post>
    </div>
</template>

<script>
    import NewPost from '../components/new-post.vue';
    import Post from '../components/post.vue';

    export default {
        mounted() {
            console.log('Wall view mounted.')
            this.getPosts();
        },
        data: function () {
            return {
                posts: []
            }
        },
        components: {
            NewPost,
            Post
        },
        methods: {
            getPosts: function() {
                let self = this;
                axios.get('/posts')
                    .then(function (response) {
                        self.posts = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>

<style>
    
</style>
