@media (min-width: 680px) {
    .background-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 80px;
        background-color: $brand-primary;
    }
}