body {
    min-width: 320px;
}


@media (min-width: 680px) {
    #app {
        min-height: 100vh;
        padding-left: 270px;
        .page {
            padding-top: 100px;
            width: 94%;
            max-width: 480px;
        }
    }
}